

<div class="mainbg">
  <div style="display: flex">
    <form id="form_todo">
      <input type="text" placeholder="New TODO..." id="input_todo" />
      <input type="text" placeholder="Description" id="todo_desc" />
      <div class="dropdown" id="subject_dropdown">
        <button
          class="btn btn-light font-weight-bold dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Subject
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Default</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">CS-546</a></li>
          <li><a class="dropdown-item" href="#">CS513</a></li>
        </ul>
      </div>
      <button class="btn btn-light font-weight-bold" type="submit">
        Add +
      </button>
    </form>

  </div>

  <div class="DandD_lanes">
    <div class="DandD" id="lane_todo">
      <h3 class="heading">TO DO</h3>
      {{#each todo}}
        <div class="task" draggable="true" data-status = {{this.status}}>
          <h5 class="task-title">{{this.assignmentName}}</h5>
          <p class="task-desc">{{this.notes}}</p>
          <span class="close-sign">X</span>
          <span class="edit-icon">✎</span>
          <span class="save-icon" style="display: none;">✔</span>
          <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option class="high-priority" value="High" {{#isEqual this.priority 'High'}}selected{{/isEqual}}>High</option>
            <option class="medium-priority" value="Medium" {{#isEqual this.priority 'Medium'}}selected{{/isEqual}}>Medium</option>
            <option class="low-priority" value="Low" {{#isEqual this.priority 'Low'}}selected{{/isEqual}}>Low</option>
          </select>

          {{!-- <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option value="{{this.priority}}">{{this.priority}}</option>
          </select> --}}
          <input
            type="number"
            class="grade"
            min="0"
            max="100"
            placeholder="{{this.grade}}"
            required=""
            step="1"
            disabled=""
          />
        </div>
      {{/each}}
    </div>

    <div class="DandD" id="lane_doing">
      <h3 class="heading">Doing</h3>
      {{#each doing}}
        <div class="task" draggable="true" data-status = {{this.status}}>
          <h5 class="task-title">{{this.assignmentName}}</h5>
          <p class="task-desc">{{this.notes}}</p>
          <span class="close-sign">X</span>
          <span class="edit-icon">✎</span>
          <span class="save-icon" style="display: none;">✔</span>
          <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option value="High" {{#isEqual this.priority 'High'}}selected{{/isEqual}}>High</option>
            <option value="Medium" {{#isEqual this.priority 'Medium'}}selected{{/isEqual}}>Medium</option>
            <option value="Low" {{#isEqual this.priority 'Low'}}selected{{/isEqual}}>Low</option>
          </select>

          {{!-- <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option value="{{this.priority}}">{{this.priority}}</option>
          </select> --}}
          <input
            type="number"
            class="grade"
            min="0"
            max="100"
            placeholder="{{this.grade}}"
            required=""
            step="1"
            disabled=""
          />
        </div>
      {{/each}}
    </div>

    <div class="DandD" id="lane_done">
      <h3 class="heading">Done</h3>
      {{#each done}}
        <div class="task" draggable="true" data-status = {{this.status}}>
          <h5 class="task-title">{{this.assignmentName}}</h5>
          <p class="task-desc">{{this.notes}}</p>
          <span class="close-sign">X</span>
          <span class="edit-icon">✎</span>
          <span class="save-icon" style="display: none;">✔</span>
          <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option value="High" {{#isEqual this.priority 'High'}}selected{{/isEqual}}>High</option>
            <option value="Medium" {{#isEqual this.priority 'Medium'}}selected{{/isEqual}}>Medium</option>
            <option value="Low" {{#isEqual this.priority 'Low'}}selected{{/isEqual}}>Low</option>
          </select>

          {{!-- <select class="task-priority" disabled="">
            <option value="" disabled="">Priority</option>
            <option value="{{this.priority}}">{{this.priority}}</option>
          </select> --}}
          <input
            type="number"
            class="grade"
            min="0"
            max="100"
            placeholder="{{this.grade}}"
            required=""
            step="1"
            disabled=""
          />
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="card" id="tracking_card">
  <div class="card-body">
    <h5 class="card-title">Task Tracking</h5>
    <p id="todoText"></p>
    <div class="progress mb-3">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
        id="todoBar"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        To-Do
      </div>
    </div>
    <p id="doingText"></p>
    <div class="progress mb-3">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        id="doingBar"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        Doing
      </div>
    </div>
    <p id="doneText"></p>
    <div class="progress mb-3">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        id="doneBar"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        Done
      </div>
    </div>

    <a href="#" class="btn btn-primary" id="analyzeBtn">Analyze!</a>
  </div>
</div>