<div class="container mt-5">
    <div id="profilebg" class="row border rounded shadow-lg">
        <div class="col-md-4 text-center py-4 border-right">
            <img src="./defaultProfile.png" class="img-fluid rounded-circle mb-4" id="profileImg" />
            <div class="d-flex justify-content-center">
                <a href="editProfile.html" class="mx-2">
                    <button class="btn btn-sm btn-primary">Edit</button>
                </a>
                <button class="mx-2 btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
                <button class="mx-2 btn btn-sm btn-info text-white">Logout</button>
            </div>
        </div>

        <div class="col-md-8 py-4">
            <h1 class="mb-4">Profile</h1>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td id="email_id">{{abc@gmail.com}}</td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td id="first_name">{{John}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td id="last_name">{{Cena}}</td>
                    </tr>
                    <tr>
                        <th scope="row">CWID</th>
                        <td id="cwid">{{20012778}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Courses</th>
                        <td id="courses">{{CS546}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Program</th>
                        <td id="program">{{CS}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Semester</th>
                        <td id="sem">{{1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
