<div id="profilebg" class="col-8 border rounded mx-auto mt-5 p-1 shadow-lg d-flex">
    <div class="col-md-4 text-center">
        <img src="/public/images/defaultProfile.png" class="img-fluid rounded" id="profileImg" />
        <div>
            <a href="editProfile.html">
                <button class="mx-auto m-1 btn-sm btn btn-primary">Edit</button>
            </a>
            <button class="mx-auto m-1 btn-sm btn btn-warning text-white">
                Delete
            </button>
            <button class="mx-auto m-1 btn-sm btn btn-info text-white">
                Logout
            </button>
        </div>
    </div>

    <div class="col-md-8">
        <div class="h1">Profile</div>
        <table class="table table-striped">
            <tr>
                <th colspan="2">User Details:</th>
            </tr>
            <tr>
                <th>Email</th>
                <td id="email_id">{{this.email_id}}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td id="first_name">{{this.first_name}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td id="last_name">{{this.last_name}}</td>
            </tr>
            <tr>
                <th>CWID</th>
                <td id="cwid">{{this.cwid}}</td>
            </tr>
            <tr>
                <th>Courses</th>
                {{#each Courses}}
                <td id="courses">{{this.courses}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>Program</th>
                <td id="program">{{this.program}}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td id="sem">{{this.sem}}</td>
            </tr>
        </table>
    </div>
</div>
<script href="/public/css/userProfile.css"></script>
